@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

/* Common Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Work Sans', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  background-color: #FF900E;
  color: white;
  border: none;
  border-radius: 8px;
}

/* Navigation and Hero Section */

.nav-hero {
  background-color: rgba(255, 144, 14, 0.1);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.navigation h1 {
  font-size: 45px;
  color: #131313;
}

.navigation .menu-items ul {
  display: flex;
  gap: 55px;
}

.navigation .menu-items ul li{
  list-style: none;
  font-size: 18px;
  color: #424242;
  font-weight: 500;
}

hr {
  visibility: hidden;
}

/* Hero Section */

.hero {
  text-align: center;
}

.hero h1 {
  font-size: 64px;
  color: #131313;
  line-height: 75px;
  margin: 30px 0;
}

.hero p {
  font-size: 16px;
  color: #727272;
  line-height: 26px;
  margin-bottom: 25px;
}

.hero-btn {
  font-size: 18px;
  padding: 16px 25px;
  margin-bottom: 50px;
}

.banner img {
  width: 100%;
  text-align: center;
  margin-bottom: 35px;
}

/* -- Features Section */

.quick-features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 40px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.feature-title {
  font-size: 45px;
  line-height: 53px;
  color: #727272;
  margin-bottom: 25px;
  font-weight: 500;
}

.feature-sub {
  font-size: 16px;
  color: #727272;
  line-height: 26px;
  margin-bottom: 25px;
  font-weight: 400;
}

.feature-btn {
  font-size: 18px;
  padding: 16px 25px;
  margin-bottom: 50px;
}

/* Features You Will Enjoy */

.features-brief {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  margin: 80px 0;

}

.main-title {
  display: flex;
  gap: 15px;
}

.vl {
  border-left: 6px solid #FF900E;;
  height: 110px;
} 

.feature-title-2{
  font-size: 45px;
  line-height: 53px;
  color: #131313;
  margin-bottom: 25px;
  font-weight: 700;
}

.features-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.description {
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 15px;
}

.description-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #131313;
  margin-bottom: 5px;
}

.description-sub {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #727272;
}

.feature-btn-2 {
  padding: 30px 50px;
  position: absolute;
  translate: 130% -120%;
  
}

.feature-btn-2 h1 {
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 5px;
}

.feature-btn-2 p {
  font-size: 25px;
  font-weight: 500;
}

/* Some Facts Section */

.some-facts-section {
  margin-bottom: 120px;
}
.some-facts .section-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  margin-bottom: 30px;
  margin-top: 120px;
} 

.some-facts .section-sub {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 60px;
}

.some-facts-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.some-facts-info .info {
  text-align: center;
  border: 1px solid #FF900E;
  border-radius: 8px;
  padding: 60px 30px;
  width: 250px;
  height: 250px;
}

.some-facts-info .info h2{
  font-weight: 600;
  font-size: 45px;
  line-height: 53px;
  color: #424242;
}

.some-facts-info .info p {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #727272;
}

/* Our Sponsors Section */

.our-sponsors {
  margin-bottom: 120px;
}

.sponsors-text .section-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  margin-bottom: 30px;
  margin-top: 120px;
  text-align: center;
}

.sponsors-text .section-sub {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 60px;
  text-align: center;
}

.sponsors {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sponsors .info img {
  filter: grayscale(100%)
}

/* Footer Styles */

.footer {
  background-color: #FFF4E7;
  border-radius: 8px;
  
}

.footer-text {
  color: #424242;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  padding: 40px;
}



/* Responsive Styles */

@media only screen and (max-width: 576px) {
  /* Navigation Section */

  .navigation {
    flex-direction: column;
    gap: 25px;
    
  }
  
  .navigation h1 {
    font-size: 40px;
    color: #131313;
  }
  
  .navigation .menu-items ul {
    justify-content: space-evenly;
    gap: 30px;
  }
  
  .navigation .menu-items ul li{
    font-size: 16px;
  }

  hr {
    visibility: visible;
    color: #424242;
  }

  /* Hero Section */

  .hero h1 {
    font-size: 55px;
    line-height: 65px;
  }
  
  .hero p {
    font-size: 16px;
    line-height: 26px;
    padding: 0 20px;
  }
  
  .hero-btn {
    font-size: 14px;
    padding: 12px 22px;
    margin-bottom: 35px;
  }
  
  .banner img {
    width: 100%;
    text-align: center;
    padding: 0 20px;
  }

  /* -- Features Section */

.quick-features {
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 15px;
}

.quick-features .image-grid img {
  width: 90%;
}

.feature-title {
  font-size: 35px;
  line-height: 40px;
  margin-top: 20px;
}

.feature-sub {
  font-size: 14px;
  line-height: 22px;
}

.feature-btn {
  font-size: 14px;
  padding: 12px 22px;
  margin-bottom: 35px;
}

/* Features You Will Enjoy */

.features-brief {
  flex-direction: column;
  justify-content: flex-start;
  margin: 50px 20px;

}

.main-title {
  display: flex;
  gap: 15px;
}

.vl {
  border-left: 6px solid #FF900E;;
  height: 160px;
} 

.feature-title-2{
  font-size: 45px;
  line-height: 53px;
  color: #131313;
  margin-bottom: 35px;
  font-weight: 700;
}

.features-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.description {
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 15px;
}

.description-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #131313;
  margin-bottom: 5px;
}

.description-sub {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #727272;
}

.features-image img{
  width: 100%;
  height: auto;
}

.feature-btn-2 {
  padding: 30px 50px;
  translate: 28% -80%;
}

.feature-btn-2 h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 5px;
}

.feature-btn-2 p {
  font-size: 18px;
  font-weight: 500;
}

/* Some Facts Section */

.some-facts-section {
 padding: 0 20px;
}

.some-facts .section-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  margin-bottom: 15px;
  margin-top: 120px;
} 

.some-facts .section-sub {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 60px;
}

.some-facts-info {
  flex-direction: column;
  gap: 30px;  
}

.some-facts-info .info {
  text-align: center;
  border: 1px solid #FF900E;
  border-radius: 8px;
  width: 250px;
  height: 250px;
  padding-top: 60px;
}

.some-facts-info .info h2{
  font-weight: 600;
  font-size: 45px;
  line-height: 53px;
  color: #424242;
}

.some-facts-info .info p {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #727272;
}





}


